#page {    
    margin-left: 40px;
    margin-right: 40px;
    display: block;
}


/* #region Page Header */

#page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-header-main {
    display: flex;
    align-items: center;
}

#page-header-main-generic-profile-icon {
    width: 40px;
    height: 40px;
    background-color: orange;
    border-radius: 50px;
}

#page-header-main-text {
    width: 100%;
    padding-left: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;

    color: #4B4B4B;
}

#page-header-button {    
    width: 250px;
    height: 45px;

    background: #FBFBFB;
    border: 1px solid #CCCCCC;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

#page-header-button-icon {    
    position: relative;
    left: 20px;

    color: #505050;
}

#page-header-button-text {
    position: relative;
    left: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;

    color: #4B4B4B;
}

/* #endregion Page Header */


/* #region Page Subheader 1 */

#page-subheader-1-text {
    margin-top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;

    color: #A4A4A4;
}

/* #endregion Page Subheader 1 */


/* #region Page Links */

#page-links {
    position: relative;

    width: full;
    height: 230px;
    
    padding: 20px;

    background: #FBFBFB;
    border: 1px solid #CCCCCC;
    border-radius: 10px;

    margin-top: 20px;

    display: block;
}

#page-links-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    color: #4B4B4B;
}

#page-links-grid { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px 75px;
    padding-top: 10px;
}

.page-links-grid-button {
    width: 90%;
    height: 60px;
    
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

.page-links-grid-button-icon {
    position: relative;
    left: 20px;

    color: #505050;
}

.page-links-grid-button-text {
    position: relative;
    left: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;

    color: #505050;
}

/* #endregion Page Links */


/* #region Page Subheader 2 */

#page-subheader-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
}

#page-subheader-2-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;

    color: #A4A4A4;
}

#page-subheader-2-button {
    width: 220px;
    height: 45px;

    background: #FBFBFB;
    border: 1px solid #CCCCCC;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

#page-subheader-2-button-icon {    
    position: relative;
    left: 20px;

    color: #505050;
}

#page-subheader-2-button-text {
    position: relative;
    left: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;

    color: #4B4B4B;
}


/* #endregion Page Subheader 2 */