#openSponsor {
	width: 171px;
	height: 39px;

	background: #f5f5f5;
	border: 2px solid #e8e8e8;
	border-radius: 10px;
}

#openSponsor:hover {
	background: #d3d2d2;
	border: 2px solid #d3d2d2;
}

#openSponsorContent {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	gap: 10px;
	font-weight: 600;
	font-size: 17px;
	line-height: 21px;
	color: #505050;
}

#sponsorNameContent {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-weight: 700;
	font-size: 20px;
	color: #505050;
}

#ascendingSortArrow {
	transform: rotate(180deg);
}

.css-1s2u09g-control {
	height: 42px;
}
